[user]
	name = Nate Savage
	email = nates@panopticom.online
[init]
    defaultBranch = main
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[url "ssh://git@gitlab.com"]
	insteadOf = https://gitlab.com
[log]
	showSignature = true
[lfs]
	enable = true
[credential "https://forge.panopticom.online"]
	provider = generic
